-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: BookMyShow
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `booking_seats`
--

LOCK TABLES `booking_seats` WRITE;
/*!40000 ALTER TABLE `booking_seats` DISABLE KEYS */;
INSERT INTO `booking_seats` VALUES (1,1,1),(2,1,2),(3,2,11),(4,3,19),(5,3,20),(6,4,3),(7,5,12),(8,6,19),(9,6,20),(10,6,21),(11,6,22),(12,6,23),(13,6,24),(14,6,25),(15,6,26),(16,6,30);
/*!40000 ALTER TABLE `booking_seats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
INSERT INTO `bookings` VALUES (1,1,1,500,'CONFIRMED','2026-05-11 14:18:06'),(2,2,3,200,'CONFIRMED','2026-05-11 14:18:06'),(3,3,4,900,'CONFIRMED','2026-05-11 14:18:06'),(4,4,1,250,'CANCELLED','2026-05-11 14:18:06'),(5,5,3,200,'CONFIRMED','2026-05-11 15:17:58'),(6,5,5,3600,'CONFIRMED','2026-05-11 18:36:37');
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cities`
--

LOCK TABLES `cities` WRITE;
/*!40000 ALTER TABLE `cities` DISABLE KEYS */;
INSERT INTO `cities` VALUES (1,'Mumbai','Maharashtra'),(2,'Delhi','Delhi'),(3,'Bangalore','Karnataka'),(4,'Hyderabad','Telangana'),(5,'Chennai','Tamil Nadu');
/*!40000 ALTER TABLE `cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `movies`
--

LOCK TABLES `movies` WRITE;
/*!40000 ALTER TABLE `movies` DISABLE KEYS */;
/*!40000 ALTER TABLE `movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `screens`
--

LOCK TABLES `screens` WRITE;
/*!40000 ALTER TABLE `screens` DISABLE KEYS */;
INSERT INTO `screens` VALUES (1,'Screen 1',10,1),(2,'Screen 2',8,1),(3,'Audi 1',10,2),(4,'Screen 1',10,3),(5,'IMAX',12,4),(6,'Dolby Atmos',10,5),(7,'Screen 1',8,6);
/*!40000 ALTER TABLE `screens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `seats`
--

LOCK TABLES `seats` WRITE;
/*!40000 ALTER TABLE `seats` DISABLE KEYS */;
/*!40000 ALTER TABLE `seats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `shows`
--

LOCK TABLES `shows` WRITE;
/*!40000 ALTER TABLE `shows` DISABLE KEYS */;
INSERT INTO `shows` VALUES (1,1,1,'2026-03-15','10:00:00','12:30:00',250),(2,1,1,'2026-03-15','14:00:00','16:30:00',300),(3,2,2,'2026-03-15','11:00:00','13:40:00',200),(4,3,5,'2026-03-15','18:00:00','21:00:00',450),(5,4,5,'2026-03-16','10:00:00','12:35:00',400),(6,5,2,'2026-03-16','15:00:00','17:20:00',200),(7,1,5,'2026-03-16','20:00:00','22:30:00',500),(8,3,5,'2026-03-15','09:00:00','12:00:00',800);
/*!40000 ALTER TABLE `shows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `theaters`
--

LOCK TABLES `theaters` WRITE;
/*!40000 ALTER TABLE `theaters` DISABLE KEYS */;
INSERT INTO `theaters` VALUES (1,'PVR Phoenix','Lower Parel, Mumbai',1),(2,'INOX Nariman Point','Nariman Point, Mumbai',1),(3,'PVR Select City','Saket, New Delhi',2),(4,'GOLD Cinema','Rajiv Chowk, New Delhi',2),(5,'INOX Mantri Mall','Malleshwaram, Bangalore',3),(6,'AMB Cinemas','Gachibowli, Hyderabad',4),(7,'SPI Palazzo','Vadapalani, Chennai',5);
/*!40000 ALTER TABLE `theaters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Rahul Sharma','rahul@example.com','pass123','9876543210','2026-05-11 14:18:05'),(2,'Priya Patel','priya@example.com','pass123','9876543211','2026-05-11 14:18:05'),(3,'Amit Kumar','amit@example.com','pass123','9876543212','2026-05-11 14:18:05'),(4,'Sneha Reddy','sneha@example.com','pass123','9876543213','2026-05-11 14:18:05'),(5,'Shivam kumar','shivam.0111cs231247@technocratsgroup.edu.in','shivam','08409997196','2026-05-11 15:17:42');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-19 21:08:36
